<% if message.account_id == current_account.id %>
    <div class="d-flex justify-content-end align-items-center my-3">
      <span class="their-messagesfs-5 message-right px-3 text-left"><%= message.content %></span>
    </div>
  <% else %>
    <div class="d-flex align-items-center my-3">
      <span class="my-messages fs-5 message-left px-3 text-left"><%= message.content %></span>
    </div>
<% end %>
