<% if message.account_id == current_account.id %>
    <div class="d-flex align-items-end flex-column bd-highlight my-3">
      <div class="their-messages fs-5 message-right px-3 text-left"><%= message.content %></div>
      <div class="message-date fw-bold">
        <% if message.read? %>
          <span class="text-dark mr-2">✅</span>
        <% end %>
        <%= l message.created_at %>
      </div>
    </div>
<% else %>
    <div class="d-flex align-items-start flex-column bd-highlight my-3">
      <div class="my-messages fs-5 message-left px-3 text-left"><%= message.content %></div>
      <div class="message-date fw-bold">
        <%= l message.created_at %>
      </div>
    </div>
<% end %>
