<div class="match">
  <h5 class="mb-1 text-center"><%= event.start_time.to_date %></h5>
  <div class="d-flex justify-content-around align-items-center px-3">
    <h4 class="mb-0"><%= event.home.team %></h4>
    <div class="fs-4 fw-light">
      vs
    </div>
    <h4 class="mb-0"><%= event.away.team %></h4>
  </div>
</div>
