<div class="col-sm-3 p-0 bg-light border-end">
  <div class="row border-bottom">
    <div class="my-account p-2">
      <%= image_tag current_account.photo.url, size: "40x40", class: "thumb" %>
      <span class="fw-bold"><%= current_account.nickname %></span>
    </div>
  </div>
</div>
