<div class="bg-gradient h-100" id="convo">
  <button class="float-end" id="close-convo">X</button>
  <h2 class="convo-head text-center py-3 border-bottom">Sample</h2>
  <%# メッセージ %>
  <div class="conversation p-2">
    <div class="d-flex align-items-center my-3">
      <%= image_tag 'sample.jpg', size: "40x40", class: "thumb" %>
      <span class="fs-5 message-left px-2 py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum vel dolorem libero eum tempore, animi cum pariatur dolores laboriosam, ducimus sequi reiciendis fugiat! Veritatis voluptates facilis asperiores. Vel, laboriosam.</span>
    </div>
    <div class="d-flex justify-content-end align-items-center my-3">
      <span class="fs-5 message-right px-2 py-1">message</span>
      <%#= image_tag 'sample.jpg', size: "40x40", class: "thumb" %>
    </div>
    <div class="d-flex align-items-center my-3">
      <%= image_tag 'sample.jpg', size: "40x40", class: "thumb" %>
      <span class="fs-5 message-left px-2 py-1">message</span>
    </div>
  </div>
  <%# フォーム %>
  <div class="sending-message p-1 bg-light w-100 bottom-0 position-absolute">
    <form action="">
      <div class="d-flex bd-highlight">
        <input type="text" class="p-2 flex-grow-1 bd-highlight">
        <button class="p-2 bd-highlight">Send</button>
      </div>
    </form>
  </div>
</div>