<div class="bg-light border-end bg-gradient h-100" id="convo">
  <button class="float-end" id="close-convo">X</button>
  <h2 class="convo-head text-center py-3 border-bottom">Sample</h2>
  <%# メッセージ %>
  <div class="conversation p-2">
    <div id="messages" data-my-id="<%= current_account.id %>">
      
    </div>
  </div>
  <%# フォーム %>
  <div class="bg-info sending-message p-1 w-100 bottom-0 position-absolute">
    <%# <form action=""> %>
      <div class="d-flex">
        <input type="text" class="form-control p-2 flex-grow-1 bd-highlight" data-behavior="room_speaker" id="sending">
        <%# <button class="p-2 bd-highlight">Send</button> %>
      </div>
    <%# </form> %>
  </div>
</div>