<div class="details-image w-100">
  <%= image_for account, "details-thumb" %>
  <%#= tempo_image 'sample.jpg', class: "details-thumb" %>
</div>
<div class="w-100 details-desc p-3">
  <h3><%= account.nickname %></h3>
  <p class="py-4"><%= account.details %></p>
</div>
