<div class="row account-list pt-4 m-0">
  <% @matchers.each do |m| %>
    <div class="col-sm-6 matching_item" data-room-id="<%= find_room(m) %>">
      <% if @new_friends_ids.include?(m.id) %>
        <div class="new-friend"></div>
      <% end %>
      <div class="image text-center">
        <%= image_for m, "middle-round" %>
      </div>
      <div class="nickname text-center">
        <span class="d-inline-block"><%= m.nickname %></span>
      </div>
    </div>
  <% end %>
</div>
