<div class="row account-list p-4">
  <% @matchers.each do |m| %>
    <div class="col-sm-6 p-2 matching_item">
      <div class="image text-center">
        <%= display_image m, 60 %>
      </div>
      <div class="nickname text-center">
        <span class="d-inline-block"><%= m.nickname %></span>
      </div>
    </div>
  <% end %>
</div>