
<% @matchers.each do |m| %>
  <%= link_to convo_path(m.id), method: :post, remote: true do %>
    <div class="row message_item m-0" data-account-id="<%= m.id %>">
      <div class="recieved_message p-3">
        <div class="d-flex align-items-center">
          <%= display_image m, 40 %>
          <div class="">
            <span class="d-block"><%= m.nickname %></span>
            <span class="d-block text-secondary">Sample message sent.</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>