<div class="col-sm-3 p-0 bg-light" id="details">
  <div class="details-image w-100">
    <%= image_tag 'sample.jpg', class: "details-thumb" %>
    <%#= tempo_image 'sample.jpg', class: "details-thumb" %>
  </div>
  <div class="w-100 details-desc p-3">
    <h3>Nickname</h3>
    <p class="py-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis provident unde eius quo.</p>
  </div>
</div>