<div class="col-sm-3 p-0 bg-light" id="details">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div>
        <%= event.home.team %>
      </div>
    <% end %>
  <% end %>
</div>
