<div class="col-sm-3 p-0 bg-light" id="details">
  <div class="details-image w-100">
    <%= image_tag 'sample.jpg', class: "details-thumb" %>
  </div>
  <div class="w-100 bg-warning details-desc bg-warning p-3">
    <h3>Nickname</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis provident unde eius quo ratione autem quod quibusdam libero quas eum nulla, qui nemo consectetur aperiam fugit vitae minima, iusto deleniti.</p>
  </div>
</div>
