@import "~bootstrap/scss/bootstrap";

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.sidebar {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  width: 80px;
}

.nav-link:hover {
  opacity: 0.5;
}

.browse {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.thumb {
  border-radius: 50%;
  margin-right: 16px;
}

.profile-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.small-round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.middle-round {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.my-account {
  background: aliceblue;
  a {
    color: #555;
  }
}

// メッセージタブ
.message_item,
.matching_item {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.who-sent-what {
  padding-left: 10px;
}

.message-from {
  padding-left: 16px;
}

// スライド
#slides {
  position: relative;
  height: 400px;
  width: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

// スライドスタイル
.slide {
  box-sizing: border-box;
  background: #333;
  color: #333;
}

.slide:nth-of-type(1) {
  background: red;
}
.slide:nth-of-type(2) {
  background: orange;
}
.slide:nth-of-type(3) {
  background: green;
}
.slide:nth-of-type(4) {
  background: blue;
}
.slide:nth-of-type(5) {
  background: purple;
}

.card-image {
  width: 300px;
  height: 400px;
}

// ミーティング
.browse .meeting {
  background-color: aliceblue;
}

.card-nickname {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

// .meeting-btns {
//   position: absolute;
//   bottom: -20%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

#like,
#dislike {
  border: none;
  background: none;
  outline: none;
  font-size: 36px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    transform: scale(1.1);
  }
}

#good-message {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-5px);
}

// チャット
#convo {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  // background-color: $teal-100;
}

#close-convo {
  margin: 10px;
}

#messages {
  overflow-y: scroll;
  height: 80vh;
}

.message-right,
.message-left {
  border-radius: 6px;
  max-width: 70%;
  font-weight: 300;
}

.message-left {
  background-color: #e3e6ea;
  text-align: left;
}

.message-right {
  background-color: rgb(0, 60, 255);
  text-align: right;
  color: aliceblue !important;
}

.sending-message {
  // height: 70px;
}

// Details
#details {
  display: none;
}

.details-image {
  height: 70vh;
}

.details-thumb {
  max-width: 100%;
  height: 70vh;
  display: block;
  vertical-align: top;
}

.details-desc {
  color: #333;
  height: 30vh;
  background-color: aliceblue;
}
