<% if @accounts.any? %>
<% @accounts.each do |a| %>
  <div>
    <h4><%= a.email %></h4>
    <% if a.photo? %>
      <%= image_tag a.photo.url %>
    <% end %>
    <%= link_to "Profile", edit_account_registration_path, class: "btn btn-success" %>
  </div>
<% end %>
<% end %>