<nav class="sidebar bg-warning bg-gradient">
  <div class="w-100">
  <div class="brand p-3">
      <h2 class="text-center fw-bold fs-1">
          J
      </h2>
  </div>
  <ul class="nav flex-column text-center">
      <li class="nav-item mb-4">
          <%= link_to "A", profile_path(current_account.nickname), class: "text-dark nav-link fs-3 p-0" %>
      </li>
      <li class="nav-item mb-4">
          <%= link_to "B", profile_path(current_account.nickname), class: "text-dark nav-link fs-3 p-0" %>
      </li>
  </ul>
  </div>
</nav>