<h2 class="mt-4 pb-2 mb-4 border-bottom">Disliking List</h2>

<% current_account.dislikings.each do |a| %>
  <div class="row m-0" data-account-id="<%= a.id %>">
    <div class="p-3">
      <div class="d-flex align-items-center">
        <%= image_for a, "small-round" %>
        <div class="">
          <span class="fs-4"><%= a.nickname %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
