<h1 class="pb-2 mb-4 border-bottom">Profile <span><%= link_to "Edit", edit_account_registration_path, class: "btn btn-success" %></span></h1>

<h3><%= @account.nickname %></h3>

<%= @account.details %>